{% if content.field_bike_image %}
	{% set image_url =file_url(content.field_bike_image['#items'].entity.uri.value) %}
{% endif %}

<div class="card h-100 rounded-top-5 ">
	<img src="{{image_url}}" class="card-img-top" alt="...">
	<div class="card-body">
		<h5 class="card-title">{{content.field_bike_name}}</h5>

		{# <p class="card-text">{{content.field_bike_description}}</p> #}
		<p class="card-text">{{bike_description_trimmed}}</p>

		<div>
			<div class="colors d-flex gap-2 align-items-center">
				<label for="">Colors:</label>
				<div class="text-warning">{{content.field_bike_color}}</div>
			</div>
			<div class="variations d-flex align-items-center gap-2 mt-2">
				<label for="">Variations:</label>
				<span>{{content.field_bike_variation}}</span>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<div class="installment">
			<p>{{content.field_installment}}</p>
		</div>
		<a href="{{ node_url }}" class="btn btn-outline-danger">View Details</a>


	</div>
</div>
